body {
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}
.game-header {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 900;
    color: black;
}
.drum-buttons {
    display: flex;
    max-width: 1000px;
    flex-flow: row wrap;
}
.drum-button {
    display:flex;
    width: 33%;
    height: 33%;
    flex-direction: column;
    justify-content: stretch;
}
/* .drum-image {} */
.drum-history {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
    list-style-type: none;
} 